.consignee-list-container{
    .consignee-info-card{
        display: flex;
        
    }


    .add-consignee {
        position: fixed;
        bottom: 0;
        background-color: #fff;
        height: 120px;
        width: 100%;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
      
        .add-consignee-btn {
          width: 85%;
      
          Button {
            background-color: #fa7516;
            font-size: 26px;
            border-radius: 50px;
          }
        }
      }
}




